<div class="window-wrapper">
    <div class="window-inner">
        <div class="window-content">
            <div class="window" ng-class="{hidden: !config.registerVisible || config.registerStep != 1}">
                <div class="closeWindow" ng-click="close()"></div>
                <h3>REGISTRATION</h3>
                <form name="reg1" ng-submit="toRegisterStep2(reg1.$valid)" novalidate>
                    <div class="formInput" ng-class="{error: reg1.email.$dirty && reg1.email.$invalid}">
                        <input type="email" placeholder="Email" name="email" ng-model="registerForm.step1.email" required>
                        <label>Please, enter a valid email</label>
                    </div>
                    <div class="formInput" ng-class="{error: reg1.username.$dirty && reg1.username.$invalid}">
                        <input type="text" placeholder="Username" name="username" ng-model="registerForm.step1.username" required ng-minlength="3" ng-pattern="config.usernamePattern">
                        <label>Please, enter 3 and more alphanumeric chars</label>
                    </div>
                    <div class="formInput" ng-class="{error: reg1.password.$dirty && reg1.password.$invalid}">
                        <input ng-attr-type="{{!passwordToggle ? 'password' : 'text'}}" placeholder="Password" name="password" ng-model="registerForm.step1.password" ng-model-options="{ allowInvalid: true }" required ng-pattern="config.passwordPattern" ng-minlength="5">
                        <label>Password length must be from 5 to 18 chars and have at least one number and at least one letter</label>
                        <i class="fa" ng-class="{'fa-eye': !passwordToggle, 'fa-eye-slash': passwordToggle}" ng-click="passwordToggle = !passwordToggle"></i>
                    </div>
                    <div class="formInput" ng-class="{error: reg1.confirm.$dirty && reg1.confirm.$invalid}">
                        <input ng-attr-type="{{!confirmPasswordToggle ? 'password' : 'text'}}" placeholder="Confirm Password" ng-model="registerForm.confirmPassword" name="confirm" match="registerForm.step1.password">
                        <label>Passwords do not match</label>
                        <i class="fa" ng-class="{'fa-eye': !confirmPasswordToggle, 'fa-eye-slash': confirmPasswordToggle}" ng-click="confirmPasswordToggle = !confirmPasswordToggle"></i>
                    </div>
                    <div class="formDoubleButtons clearfix">
                        <button class="button" type="button" ng-click="showLogin()">CANCEL</button>
                        <button class="button redButton" type="submit">NEXT STEP</button>
                    </div>
                </form>
            </div>
            <div class="window" ng-class="{hidden: !config.registerVisible || config.registerStep != 2}">
                <div class="closeWindow" ng-click="close()"></div>
                <h3>REGISTRATION</h3>
                <form name="reg2" ng-submit="register(reg1.$valid, reg2.$valid)" novalidate>
                    <div class="formInput">
                        <input type="text" placeholder="Company name" name="name_c" ng-model="registerForm.step2.name_c">
                        <label>Please, fill out the field</label>
                    </div>
                    <div class="formInput">
                        <input type="text" placeholder="Company VAT NR" name="vat" ng-model="registerForm.step2.vat">
                        <label>Please, fill out the field</label>
                    </div>
                    <div class="formInput">
                        <input type="text" placeholder="Street + nr" name="street" ng-model="registerForm.step2.street">
                        <label>Please, fill out the field</label>
                    </div>
                    <div class="formInput formInputDouble">
                        <div>
                            <input type="text" placeholder="Postal code" name="postal_code" ng-model="registerForm.step2.postal_code">
                            <label>Please, fill out the field</label>
                        </div>
                        <div>
                            <input type="text" placeholder="City" name="city" ng-model="registerForm.step2.city">
                            <label>Please, fill out the field</label>
                        </div>
                    </div>
                    <div class="formInput">
                        <input type="text" placeholder="Country" name="country" ng-model="registerForm.step2.country">
                        <label>Please, fill out the field</label>
                    </div>
                    <div class="formInput" ng-class="{error: reg2.email_c.$dirty && reg2.email_c.$invalid}">
                        <input type="email" placeholder="Company email" name="email_c" ng-model="registerForm.step2.email_c">
                        <label>Please, enter a valid email</label>
                    </div>
                    <div class="formInput">
                        <input type="tel" placeholder="Company phonenumber" name="phone" ng-model="registerForm.step2.phone">
                        <label>Please, fill out the field</label>
                    </div>
                    <div class="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="config.agree"> I agree with <a href="">terms</a> & <a href="">conditions</a>
                            </label>
                        </div>
                    </div>
                    <div class="formDoubleButtons clearfix">
                        <button class="button" type="button" ng-click="toRegisterStep1()">RETURN</button>
                        <button class="button redButton" type="submit">SIGNUP</button>
                    </div>
                </form>
            </div>
            <div class="window" ng-class="{hidden: !config.loginVisible}">
                <div class="closeWindow" ng-click="close()"></div>
                <h3>LOGIN</h3>
                <form name="log" ng-submit="login(log.$valid)" novalidate>
                    <div class="formInput" ng-class="{error: log.email.$dirty && log.email.$invalid}">
                        <input type="email" placeholder="Email" name="email" ng-model="loginForm.email" required>
                        <label>Please, enter a valid email</label>
                    </div>
                    <div class="formInput" ng-class="{error: log.password.$dirty && log.password.$invalid}">
                        <input ng-attr-type="{{!logPasswordToggle ? 'password' : 'text'}}" placeholder="Password" name="password" ng-model="loginForm.password" required ng-pattern="config.passwordPattern" ng-minlength="5">
                        <label>Password length must be from 5 to 18 chars and have at least one number and at least one letter</label>
                        <i class="fa" ng-class="{'fa-eye': !logPasswordToggle, 'fa-eye-slash': logPasswordToggle}" ng-click="logPasswordToggle = !logPasswordToggle"></i>
                    </div>
                    <div class="formCheckBox">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember my
                            </label>
                            <a class="_floatRight" href="/">Forgot password?</a>
                        </div>
                    </div>
                    <div class="formButton">
                        <button type="submit" class="button redButton">SIGN IN</button>
                    </div>
                    <div class="formBottomLinks _alignCenter">
                        No account yet? <a href="#" ng-click="showRegister()">Register</a>
                    </div>
                </form>
            </div>
            <div class="window" ng-class="{hidden: !config.registerVisible || config.registerStep != 3}">
                <div class="closeWindow" ng-click="close()"></div>
                <h3>THANKS!</h3>
                <p class="_paddingBottom30">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi expedita harum molestias nobis nostrum reiciendis repellendus saepe sit ut. Ad animi natus temporibus tenetur. Consequatur dicta ipsa porro tempora.
                </p>
                <div class="_alignCenter">
                    <img src="/resources/img/registration-done.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>