html, body {
    height: 100%;
}

body { background: lightslategray; }

.login-container {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}

.login-cell {
    display: table-cell;
    vertical-align: middle;
}

.login-form-c { text-align: center; }

.login-form {
    background: white;
    padding: 30px 70px;
    display: inline-block;
    border: 1px rgba(255,255,255,0.4) solid;
    border-radius: 4px;
}

.login-h {
    font-size: 24px;
    padding: 0 0 15px 0;
    color: lightseagreen;
}

.form-control { max-width: 300px; }

button.btn {
    display: inline-block;
    background: lightseagreen;
    color: white;
    padding: 5px 23px;
}