<div class="divisionsBlock">
    <div class="container">
        <div class="divisionContainerHeader">
            <div class="closeFrame" onclick="history.back()">
                <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
                CHANGE ENVIRONMENT
            </div>
            <div class="titleWithThin">
                <span>Campaign:</span> {{data.name}}
            </div>
            <div class="divisionContainerHeaderText">
                Select a category from {{data.city.name}} {{data.env.name}}
            </div>
        </div>
        <div class="divisionContainer" ng-repeat="i in [] | range : Math.ceil(categories.length / 2)">
            <div class="divisionItemLeft">
                <div ng-click="next(categories[i*2])" class="divisionPic"
                ng-style="{'background-image': 'url(' + globals.getFullUrl(categories[i*2].image || globals.coverMiddle) + ')'}">
                    <div class="divisionPicButton">CHOOSE CATEGORY</div>
                </div>
                <div class="divisionTitle campaignTitle">
                    {{categories[i*2].name}}
                </div>
            </div>
            <div class="divisionItemRight" ng-if="categories[i*2+1]">
                <div ng-click="next(categories[i*2+1])" class="divisionPic"
                ng-style="{'background-image': 'url(' + globals.getFullUrl(categories[i*2+1].image || globals.coverMiddle) + ')'}">
                    <div class="divisionPicButton">CHOOSE CATEGORY</div>
                </div>
                <div class="divisionTitle campaignTitle">
                    {{categories[i*2+1].name}}
                </div>
            </div>
        </div>
    </div>
</div>