<div class="divisionsBlock">
    <div class="container">
        <div class="divisionContainerHeader">
            <div class="closeFrame" onclick="history.back()">
                <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
                CHANGE ACTIVITY
            </div>
            <div class="titleWithThin">
                <span>Campaign:</span> {{data.name}}
            </div>
            <div class="divisionContainerHeaderText">
                Select your city/area
            </div>
            <div class="divisionContainerHeaderInput">
                <input type="text" class="searchInput" placeholder="Search a city" ng-model="search.val" ng-model-options="{debounce: 500}" ng-change="search()">
            </div>
        </div>
        <div class="cityBlockWrapper">
            <div class="row">
                <div class="col-md-4" ng-repeat="item in cities">
                    <div ng-click="next(item)" class="cityBlock"
                    ng-style="{'background-image': 'url(' + globals.getFullUrl(item.image[0].urlFullPicture || globals.coverMiddle) + ')'}">
                        <div class="cityBlockHeader">
                            {{item.name}}
                        </div>
                        <div class="cityBlockInfo">
                            <div ng-class-odd="'cityBlockInfoLeft'" ng-class-even="'cityBlockInfoRight'" ng-repeat="c_item in item.arrayStat"><span>{{c_item.count}}</span> <span>{{c_item.name}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>