<div class="window-wrapper">
    <div class="window-inner">
        <div class="window-content">
            <div class="window createCompaignWindow">
                <div class="closeWindow" ng-click="close()"></div>
                <h3>Creating custom campaign</h3>
                <div class="secondText _alignCenter">
                    What is the name of your campaign?
                </div>
                <div class="formInput">
                    <input type="text" placeholder="Campaign name" ng-model="data.name">
                    <button class="iconButton"><i class="pe-7s-paper-plane"></i></button>
                </div>
                <div class="formDoubleButtons clearfix">
                    <button class="button redEmptyButton" ng-click="planner()">GO TO PLANNER</button>
                    <button class="button redButton" ng-click="next()">NEXT</button>
                </div>
            </div>
        </div>
    </div>
</div>