<div class="divisionsBlock">
    <div class="container">
        <div class="divisionContainerHeader">
            <div class="closeFrame" onclick="history.back()">
                <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
                CHANGE CITY
            </div>
            <div class="titleWithThin">
                <span>Campaign:</span> {{data.name}}
            </div>
            <div class="divisionContainerHeaderText">
                Select an environment from {{data.city.name}}
            </div>
        </div>
        <div class="divisionContainer" ng-repeat="i in [] | range : Math.ceil(envs.length / 2)">
            <div class="divisionItemLeft">
                <div ng-click="next(envs[i*2])" class="divisionPic"
                ng-style="{'background-image': 'url(' + globals.getFullUrl(envs[i*2].image || globals.coverMiddle) + ')'}">
                    <div class="divisionPicButton">CHOOSE ENVIRONMENT</div>
                </div>
                <div class="divisionTitle">{{envs[i*2].name}}</div>
            </div>
            <div class="divisionItemRight" ng-if="envs[i*2+1]">
                <div ng-click="next(envs[i*2+1])" class="divisionPic"
                ng-style="{'background-image': 'url(' + globals.getFullUrl(envs[i*2+1].image || globals.coverMiddle) + ')'}">
                    <div class="divisionPicButton">CHOOSE ENVIRONMENT</div>
                </div>
                <div class="divisionTitle">{{envs[i*2+1].name}}</div>
            </div>
        </div>
    </div>
</div>