<div class="divisionContainerHeader">
    <div class="closeFrame" onclick="history.back()">
        <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
        CHANGE CATEGORY
    </div>
    <div class="titleWithThin">
        <span>CAMPAIGN:</span> {{data.name}}
    </div>
    <p>Select a location from {{data.city.name}} {{data.category.name}}</p>
    <div class="divisionContainerHeaderInput">
        <input type="text" class="searchInput" placeholder="Search a location" ng-model="search.val" ng-model-options="{debounce: 500}" ng-change="search()">
    </div>
</div>
<div class="gridContainer">
    <div class="gridWrapper">
        <div class="expTypeItem" ng-repeat="item in locations" grid-wrapper>
            <div class="expTypeItemImg">
                <h3>{{item.nameLocation}}</h3>
                <img ng-src="{{globals.getFullUrl(item.image[0].urlFullPicture || globals.coverMiddle)}}" />
            </div>
            <div class="expTypeItemInfo">
                <ul>
                    <li ng-repeat="s_item in item.statArray"><span class="expTypeItemLeft">{{s_item.name}}</span><span class="expTypeItemRight">{{s_item.value}}</span></li>
                </ul>
                <div class="expTypeItemBottom">
                    <a class="expTypeBottomLink" href="">VIEW DETAIL <i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a ng-click="next(item)" class="button redButton">SELECT THIS LOCATION<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>