<div class="divisionsBlock">
    <div class="container">
        <div class="divisionContainerHeader">
            <div class="closeFrame" onclick="history.back()">
                <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
                CANCEL
            </div>
            <div class="titleWithThin">
                <span>Creating</span> new <span>campaign</span>
            </div>
            <div class="divisionContainerHeaderText">
                Select the type of your campaign
            </div>
        </div>
        <div class="divisionContainer">
            <div class="divisionItemLeft">
                <div ng-click="modal()" class="divisionPic" style="background-image: url(/resources/img/home/compaign-old.jpg);">
                    <div class="divisionPicButton">CHOOSE CAMPAIGN</div>
                </div>
                <div class="divisionTitle campaignTitle">
                    CUSTOM<br/>
                    CAMPAIGN
                </div>
            </div>
            <div class="divisionItemRight">
                <div ui-sref="campaign_premade" class="divisionPic" style="background-image: url(/resources/img/home/compaign-new.jpg);">
                    <div class="divisionPicButton">CHOOSE CAMPAIGN</div>
                </div>
                <div class="divisionTitle campaignTitle">
                    PREMADE<br/>
                    PROMOTIONAL<br/>
                    CAMPAIGNS
                </div>
            </div>
        </div>
    </div>
</div>