<div class="container-fluid plannerCheckout">
    <div class="plannerCheckoutTitle">
        <h3>Campaign: <input ng-if="data.nameEditing" ng-keypress="nameEditingDone($event)" type="text" class="transparent-input" ng-model="data.name"><span ng-if="!data.nameEditing">{{data.name}}</span> <i ng-click="data.nameEditing = !data.nameEditing" class="fa fa-pencil" aria-hidden="true"></i></h3>
        <div class=""></div>
    </div>
    <div class="plannerTopButtons">
        <a href="" class="button redButton">DELETE CAMPAIGN <i class="fa fa-trash" aria-hidden="true"></i></a>
        <a href="" class="button whiteButton">EXPORT CAMPAIGN TO PDF <i class="fa fa-file-o"></i> </a>
    </div>
    <div class="filtersLine">
        <div class="formBlock">
            <div class="selectInput" select="data.section.id" select-title="Activity" select-items="sections">
                <span></span>
                <ul>
                    <li ng-attr-data-value="{{item._id}}" ng-repeat="item in sections">{{item.title}}</li>
                </ul>
            </div>
        </div><br/><br/>
        <div class="formBlock">
            <div class="selectInput" select="data.city.id" select-title="City" select-items="cities">
                <i class="fa fa-building-o"></i><span></span>
                <ul>
                    <li ng-attr-data-value="{{item._id}}" ng-repeat="item in cities">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="formBlock">
            <div class="selectInput" select="data.env.id" select-title="Environment" select-items="envs">
                <i class="fa fa-thumb-tack"></i><span></span>
                <ul>
                    <li ng-attr-data-value="{{item._id}}" ng-repeat="item in envs">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="formBlock">
            <div class="selectInput" select="data.category.id" select-title="Category" select-items="categories">
                <i class="fa fa-folder-o"></i><span></span>
                <ul>
                    <li ng-attr-data-value="{{item._id}}" ng-repeat="item in categories">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="formBlock">
            <div class="selectInput" select="data.location.id" select-title="Location" select-items="locations">
                <i class="fa fa-map-marker"></i><span></span>
                <ul>
                    <li ng-attr-data-value="{{item.id}}" ng-repeat="item in locations">{{item.nameLocation}}</li>
                </ul>
            </div>
        </div>
        <div class="formBlock">
            <div class="selectInput" select="data.space.id" select-title="Space" select-items="spaces">
                <i class="pe-7s-paper-plane"></i><span></span>
                <ul>
                    <li ng-if="item.publish" ng-attr-data-value="{{item._id}}" ng-repeat="item in spaces">{{item.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="plannerCalendarWrapper row">
            <div class="col-lg-6">
                <div class="plannerCalendar" ng-if="data.space.id">
                    <div class="plannerCalendarHeader">
                        <a href="" class="button redButton">VIEW DETAIL <i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a href="" class="button grayButton">CALENDAR <i class="fa fa-file-o"></i> </a>
                        <a href="" class="button ">BLUE PRINT <i class="fa fa-map-o"></i> </a>
                    </div>
                    <div class="monthLine">
                        <i class="pe-7s-angle-left-circle" ng-click="prevMonth()"></i>
                        <div>{{calendar[0].month}} <strong>{{calendar[0].year}}</strong></div>
                        <i class="pe-7s-angle-right-circle" ng-click="nextMonth()"></i>
                    </div>
                    <div class="plannerCalendarContent" ng-class="{'pcc-visible': calendarResolved}">
                        <table class="calendarTable">
                            <tr>
                                <th>MON</th>
                                <th>TUE</th>
                                <th>WEN</th>
                                <th>THU</th>
                                <th>FRI</th>
                                <th>SAT</th>
                                <th>SUN</th>
                            </tr>
                            <tr ng-repeat="i in [] | range : Math.ceil(calendar[0].items.length / 7)">
                                <td ng-click="selectDay(calendar[0].data.daysData[calendar[0].items[day+(i*7)].num], calendar[0].items[day+(i*7)], day, 0)" 
                                ng-class="{disabled: calendar[0].items[day+(i*7)].another}" 
                                ng-repeat="day in [] | range : 7" 
                                planner-cell="{arr: calendar[0].data.daysData[calendar[0].items[day+(i*7)].num], item: calendar[0].items[day+(i*7)]}">
                                    <section class="selectTimeWindow" 
                                    ng-if="!calendar[0].data.req_min && !calendar[0].items[day+(i*7)].another && (calendar[0].data.daysData[calendar[0].items[day+(i*7)].num].indexOf(3) > -1 || 
                                    calendar[0].data.daysData[calendar[0].items[day+(i*7)].num].indexOf(2) > -1)">
                                        <h3>SELECT TIME SLOTH</h3>
                                        <div class="pcWrapper">
                                            <div>
                                                <label class="checkboxItem" 
                                                ng-if="calendar[0].data.daysData[calendar[0].items[day+(i*7)].num][$index] > 1" 
                                                ng-repeat="slot in calendar[0].data.weekdays[day].slots">
                                                    <input type="checkbox" ng-model="calendar[0].data.daysData[calendar[0].items[day+(i*7)].num][$index]" ng-true-value="2" ng-false-value="3" ng-click="selectSlot(calendar[0].data.daysData[calendar[0].items[day+(i*7)].num], calendar[0].items[day+(i*7)], day, 0)"><div></div> {{slot.start + ' - ' + slot.end}}
                                                </label>
                                            </div>
                                        </div>
                                        <!-- <div class="button redButton">
                                            OK
                                        </div> -->
                                    </section>
                                    <div>
                                        <span>{{calendar[0].items[day+(i*7)].num}}</span>
                                        <div>
                                            <i ng-if="!calendar[0].items[day+(i*7)].another" ng-repeat="circle in calendar[0].data.daysData[calendar[0].items[day+(i*7)].num] track by rand($index)" ng-class="{active: circle == 2, deactive: !circle, available: circle == 3}"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="calendarTimeLegend">
                        <div class="calendarTimeLegendLine">
                            <span>{{calendar[0].data.req_min ? 'MINIMUM: '+calendar[0].data.req_min+' DAYS' : 'NO MINIMUM'}}</span>
                        </div>
                        <div class="calendarTimeLegendItem">
                            <span class="ctAvailable"></span><br/>
                            Available
                        </div>
                        <div class="calendarTimeLegendItem">
                            <span class="ctNotAvailable"></span><br/>
                            Not available
                        </div>
                        <div class="calendarTimeLegendItem">
                            <span class="ctYour"></span><br/>
                            Your selection
                        </div>
                        <div class="calendarTimeLegendItem">
                            <span class="ctBooked"></span><br/>
                            Booked
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="orderOverview">
                    <h3><strong>Your order</strong> overview</h3>
                    <div class="orderOverviewHeader">
                        <div>INFO</div>
                        <!-- <div>OPTIONS</div> -->
                        <div>PRICE</div>
                    </div>
                    <div class="orderCategories scrollBlock">
                        <div class="orderCategoryBlock open" ng-repeat="(section, items) in orders">
                            <div class="orderCategoryHeader" onclick="$(this).parent().toggleClass('open')">
                                <div class="orderCategoryInfo">
                                    {{items[0].section.title}}
                                </div>
                                <!-- <div class="orderCategoryOptions">
                                    0
                                </div> -->
                                <div class="orderCategoryPrice">
                                    £ {{sums[section] = sumPrice(items) | number : 2}}
                                    <a ng-click="removeOrders(section)"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <div class="orderCategoryBody">
                                <div ng-repeat="order in items">
                                    <div class="orderCategorySection" ng-repeat="item in order.slots">
                                        <div class="orderCategoryInfo">
                                            <div><i class="fa fa-calendar-check-o"></i><strong>{{order.date}}</strong></div>
                                            <div><i class="fa fa-clock-o"></i>{{item.start}} - {{item.end}}</div>
                                            <div><i class="fa fa-building-o"></i>{{order.city.name}}</div>
                                            <div><i class="fa fa-thumb-tack"></i><strong>{{order.env.name}} - {{order.category.name}}</strong></div>
                                            <div><i class="fa fa-map-marker"></i>{{order.location.name}}</div>
                                            <div><i class="fa fa-location-arrow"></i>{{order.space.name}}</div>
                                        </div>
                                        <!-- <div class="orderCategoryOptions">
                                            <div><i class="fa fa-cog"></i>EYECATCHER (X 1)</div>
                                            <div><a href=""><i class="fa fa-plus-circle"></i>ADD OPTIONS</a></div>
                                        </div> -->
                                        <div class="orderCategoryPrice">
                                            <div><strong>£ {{item.price | number : 2}}</strong></div>
                                            <a ng-click="removeOrders(section, order, item)"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="orderOverviewFooter">
                        <div class="_floatLeft">
                            Total
                        </div>
                        <div class="_floatRight">
                            £ {{sumAllPrice(orders) | number : 2}}
                        </div>
                        <div class="_alignRight _clear">
                            <div class="button redButton ">
                                SEE OVERVIEW <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="compStatisticBlock">
            <h5><strong>Campaign</strong> statistics</h5>
            <div class="col-md-3">
                <div class="chartBlock">
                    <img src="/resources/img/stat-chart.png" />
                    <div>
                        <strong>256</strong><br/>
                        FOOTBALL
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chartBlock">
                    <img src="/resources/img/stat-chart.png" />
                    <div>
                        <strong>256</strong><br/>
                        FOOTBALL
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chartBlock">
                    <img src="/resources/img/stat-chart.png" />
                    <div>
                        <strong>256</strong><br/>
                        FOOTBALL
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="chartBlock">
                    <img src="/resources/img/stat-chart.png" />
                    <div>
                        <strong>256</strong><br/>
                        FOOTBALL
                    </div>
                </div>
            </div>
        </div>
        <div class="fullOrderOverviewTable">
            <div class="orderOverview">
                <div class="orderOverviewHeader">
                    <div>INFO</div>
                    <div>FOOTFAL</div>
                    <div>REACH</div>
                    <div>AVERAGE DWELL TIME</div>
                    <div>AGE</div>
                    <div>SEx</div>
                </div>
                <div class="orderCategories">
                    <div class="orderCategoryBlock open">
                        <div class="orderCategoryHeader" onclick="$(this).parent().toggleClass('open')">
                            <div class="orderCategoryInfo">
                                CATEGORY 1
                            </div>
                            <div>
                                10
                            </div>
                            <div>
                                £ 1 750,00
                            </div>
                            <div>
                                £ 1 750,00
                            </div>
                            <div>
                                £ 1 750,00
                            </div>
                            <div>
                                £ 1 750,00
                            </div>
                        </div>
                        <div class="orderCategoryBody">
                            <div class="orderCategorySection">
                                <div class="orderCategoryInfo">
                                    <div><i class="fa fa-calendar-check-o"></i><strong>22-07-2012</strong></div>
                                    <div><i class="fa fa-clock-o"></i>11:00 - 12:00</div>
                                    <div><i class="fa fa-building-o"></i>City 1</div>
                                    <div><i class="fa fa-thumb-tack"></i><strong>Division 1 - Venu 1</strong></div>
                                    <div><i class="fa fa-map-marker"></i>Location 1</div>
                                    <div><i class="fa fa-location-arrow"></i>Spot 1</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div>xxx</div>
                                    <div>xxx</div>
                                    <div>xxx</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div>xxx</div>
                                    <div>xxx</div>
                                    <div>xxx</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div>xxx</div>
                                    <div>xxx</div>
                                    <div>xxx</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div>xxx</div>
                                    <div>xxx</div>
                                    <div>xxx</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div>xxx</div>
                                </div>
                            </div>
                            <div class="orderCategorySection">
                                <div class="orderCategoryInfo">
                                    <div><i class="fa fa-calendar-check-o"></i><strong>22-07-2012</strong></div>
                                    <div><i class="fa fa-clock-o"></i>11:00 - 12:00</div>
                                    <div><i class="fa fa-building-o"></i>City 1</div>
                                    <div><i class="fa fa-thumb-tack"></i><strong>Division 1 - Venu 1</strong></div>
                                    <div><i class="fa fa-map-marker"></i>Location 1</div>
                                    <div><i class="fa fa-location-arrow"></i>Spot 1</div>
                                </div>
                                <div class="orderCategoryOptions">
                                    <div><i class="fa fa-cog"></i>EYECATCHER (X 1)</div>
                                    <div><a href=""><i class="fa fa-plus-circle"></i>ADD OPTIONS</a></div>
                                </div>
                                <div class="orderCategoryPrice">
                                    <div><strong>£ 2 000,00</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>