<div class="divisionContainerHeader">
    <div class="closeFrame" onclick="history.back()">
        <i class="fa fa-angle-up" aria-hidden="true"></i><br>
        BACK TO OVERVIEW
    </div>
    <div class="titleWithThin">
        <span>Creating</span> new <span>campaign</span>
    </div>
    <div class="divisionContainerHeaderText">
        Choose one of the following premade campaigns
    </div>
</div>
<div class="container">
    <div class="row spotBlock">
        <div class="col-md-6">
            <div class="spotBlockImg">
                <img src="/resources/img/spot.jpg" width="100%" />
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
            <h2>SPOT 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, deserunt dicta excepturi id minus mollitia natus nesciunt nisi porro praesentium quaerat quasi qui, quisquam quos, veniam veritatis voluptate voluptates.
            </p>
            <ul class="dotList">
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
            </ul>
            <div class="spotViewBlock">
                <div class="viewOnBP">
                    <i class="pe-7s-map"></i>
                    <a href="">VIEW SPOT ON BLUEPRINT</a>
                </div>
                <div class="printAs">
                    PRINT THIS AS:
                    <a href="" class="pdfIcon"></a>
                    <a href="" class="pptIcon"></a>
                </div>
            </div>
            <div class="spotBottomBtns">
                <a class="button redEmptyButton" href="">VIEW FULL SPOT DETAIL <i class="fa fa-angle-right"></i></a>
                <a class="button redButton" href="">BOOK THIS SPOT <i class="pe-7s-map-marker"></i></a>
            </div>
        </div>
    </div>
    <div class="row spotBlock">
        <div class="col-md-6">
            <div class="spotBlockImg spotList">
                <div><img src="/resources/img/spot.jpg" width="100%" /></div>
                <div><img src="/resources/img/spot.jpg" width="100%" /></div>
                <div><img src="/resources/img/spot.jpg" width="100%" /></div>
                <div><img src="/resources/img/spot.jpg" width="100%" /></div>
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
            <h2>SPOT 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, deserunt dicta excepturi id minus mollitia natus nesciunt nisi porro praesentium quaerat quasi qui, quisquam quos, veniam veritatis voluptate voluptates.
            </p>
            <ul class="dotList">
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
                <li>
                    <span class="parameter">Statistic 1</span>
                    <span class="value">247 (result)</span>
                </li>
            </ul>
            <div class="spotViewBlock">
                <div class="viewOnBP">
                    <i class="pe-7s-map"></i>
                    <a href="">VIEW SPOT ON BLUEPRINT</a>
                </div>
                <div class="printAs">
                    PRINT THIS AS:
                    <a href="" class="pdfIcon"></a>
                    <a href="" class="pptIcon"></a>
                </div>
            </div>
            <div class="spotBottomBtns">
                <a class="button redEmptyButton" href="">VIEW FULL SPOT DETAIL <i class="fa fa-angle-right"></i></a>
                <a class="button redButton" href="">BOOK THIS SPOT <i class="pe-7s-map-marker"></i></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(".spotList").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        nextArrow: '<div class="slickArr slick-next">NE<br/>XT</div>',
        prevArrow: '<div class="slickArr slick-prev">PR<br/>EV</div>',
        variableWidth: true,
        adaptiveHeight: false,
    });
</script>