<div class="divisionsBlock">
    <div class="container">
        <div class="divisionContainerHeader">
            <div class="closeFrame" onclick="history.back()">
                <i class="fa fa-angle-up" aria-hidden="true"></i><br/>
                BACK
            </div>
            <div class="titleWithThin">
                <span>Campaign:</span> {{data.name}}
            </div>
            <div class="divisionContainerHeaderText">
                Select your activity
            </div>
            <div class="divisionContainerHeaderInput">
                <input type="text" class="searchInput" placeholder="Search an activity" ng-model="search.val" ng-model-options="{debounce: 500}" ng-change="search()">
            </div>
        </div>
        <div class="cityBlockWrapper">
            <div class="row">
                <div class="col-md-4" ng-repeat="item in sections" ng-if="item.visibility">
                    <div ng-click="next(item)" class="cityBlock"
                    ng-style="{'background-image': 'url(' + globals.getFullUrl(item.image[0].urlFullPicture || globals.coverMiddle) + ')'}">
                        <div class="cityBlockHeader">
                            {{item.title}}
                        </div>
                        <div class="cityBlockInfo section-block">
                            <div class="cityBlockInfoLeft">{{item.city}} cities</div>
                            <div class="cityBlockInfoLeft">{{item.location}} locations</div>
                            <div class="cityBlockInfoLeft">{{item.space}} spaces</div>
                        </div>
                        <div class="cityBlockDescription">{{item.shortDescription}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>