<!DOCTYPE html>
<html ng-app="ExterionLive" ng-controller="ApplicationCtrl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metro</title>
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/slick.css">
    <link rel="stylesheet" href="/resources/less/main.css" />

    <base href="/">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body ng-class="{clip: Globals.modalOpen}" close-selects>
<div class="preloader">
    <img src="/resources/img/preloader.gif" />
</div>
<div class="overlay hidden" ng-class="{hidden: !Globals.modalOpen}">
</div>
<div class="megaMenu">
    <div close-mega-menu class="pe-7s-close closeMegaMenu"></div>
    <div class="megaMenuLeft">
        <a href="/" class="logo"><img src="/resources/img/logo.png"/></a>
        <ul>
            <li><a href="/"> - </a></li>
            <li ng-repeat="s in section"><a ui-sref="experiential({_id:s._id})">{{s.title}}</a></li>
            <li><a href="/experiential_services"> -- </a></li>
            <li><a href="/info_and_pricing"> -- </a></li>
            <li><a href="/cases"> -- </a></li>
            <li><a href="/contacts"> -- </a></li>
        </ul>
        <p>
            London<br/>
            example@mail.com<br/>
        </p>
    </div>
    <div class="megaMenuRight">
        <div class="megaMenuRightTop">
            <button ui-sref="campaign_main"> -- <i class="fa fa-pencil-square-o"></i></button>
            <a ng-click="loginModal()" href="#"><i class="fa fa-user"></i>LOGIN</a>
        </div>
        <h2>Hello {{user.username || 'visitor'}}</h2>
        <div class="megaMenuRightBooking">
            MY BOOKING : <strong>£ {{orders.booking | number : 2}}</strong>
        </div>
        <div class="megaMenuRightObjects">
            <strong>{{orders.env}}</strong> VENUES<br/>
            <strong>{{orders.reach | number : 0}}</strong> REACH
        </div>
        <div class="megaMenuRightBottom">
            <a href=""><i class="fa fa-pencil"></i>EDIT</a>
            <button>CHECKOUT<i class="pe-7s-cart"></i></button>
        </div>
    </div>
</div>
<div class="mainWrapper">
    <header ng-if="!state.is('experiential.environment.category.location.spaces') && !state.is('experiential.space')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a href="/" class="logo"><img src="/resources/img/logo.png" /></a>
                    <div open-mega-menu class="openMegaMenu"><i class="fa fa-bars"></i></div>
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-6 headerRight">
                    <div class="headerCartWrapper">
                        <span>|</span>
                        <a class="cartLink"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <div class="headerBooking">
                            <div> -- : £ {{orders.booking | number : 2}}</div>
                            <span>{{orders.env}} --</span>
                            <i>-</i>
                            <span>{{orders.reach | number : 0}} --</span>
                        </div>
                    </div>
                    <a class="loginLink" ng-click="loginModal()" href="#"><i class="fa fa-user" aria-hidden="true"></i>LOGIN</a>
                    <div class="button" ui-sref="campaign_main">-- <li class="fa fa-angle-right"></li></div>
                </div>
            </div>
        </div>
    </header>
    <div class="mainContent clearfix" id="fullpage" ui-view>
    </div>
    <div class="footer-block" ng-include="'/html/footer.html'"></div>
</div>

<script src="/vendors/jquery/jquery-3.1.0.min.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/resources/js/slick.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/jquery.scrollie.min_1.js"></script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="/vendors/skrollr/skrollr.js"></script>
<script src="/resources/js/script.js"></script>
<script src="/vendors/nicescroll/jquery.nicescroll.min.js"></script>
<!-- <script src="/lib/jquery/dist/jquery.min.js"></script> -->
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/lodash/dist/lodash.min.js"></script>
<script src="/lib/angular-mask/dist/ngMask.min.js"></script>
<script src="/lib/angular-messages/angular-messages.min.js"></script>
<script src="/lib/angular-animate/angular-animate.min.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/lib/angular-modal-service/dst/angular-modal-service.min.js"></script>
<script src="/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB543wM10gf-BZExrSVeN7wFPZsAW2uHEo"></script>
<script src="/lib/checklist-model/checklist-model.js"></script>

<script src="/js/app.js"></script>

<script src="/js/services/AuthService.js"></script>
<script src="/js/services/Globals.js"></script>
<script src="/js/services/Alerts.js"></script>
<script src="/js/services/AnchorSmoothScroll.js"></script>
<script src="/js/ApplicationCtrl.js"></script>

<script src="/pages/home/HomeCtrl.js"></script>
<script src="/pages/login/LoginCtrl.js"></script>
<script src="/pages/cases/CasesCtrl.js"></script>
<script src="/pages/cases/CasesDetailCtrl.js"></script>
<script src="/pages/contacts/ContactsCtrl.js"></script>
<script src="/pages/experiential_services/ExperientialServicesCtrl.js"></script>
<script src="/pages/info/InfoCtrl.js"></script>
<script src="/pages/experiential/ExperientialCtrl.js"></script>
<script src="/pages/experiential/ExperientialEnvironmentCtrl.js"></script>
<script src="/pages/experiential/ExperientialCategoryCtrl.js"></script>
<script src="/pages/experiential/ExperientialLocationCtrl.js"></script>
<script src="/pages/experiential/ExperientialSpacesCtrl.js"></script>
<script src="/pages/experiential/ExperientialSpaceCtrl.js"></script>
<script src="/pages/campaign/CampaignMainCtrl.js"></script>
<script src="/pages/campaign/CampaignCityCtrl.js"></script>
<script src="/pages/campaign/CampaignCreateModalCtrl.js"></script>
<script src="/pages/campaign/CampaignPremadeCtrl.js"></script>
<script src="/pages/campaign/CampaignEnvCtrl.js"></script>
<script src="/pages/campaign/CampaignCategoryCtrl.js"></script>
<script src="/pages/campaign/CampaignLocationCtrl.js"></script>
<script src="/pages/campaign/CampaignSpaceCtrl.js"></script>
<script src="/pages/campaign/CampaignSectionCtrl.js"></script>
<script src="/pages/campaign/CampaignPlannerCtrl.js"></script>

<script src="/js/factories/Api.js"></script>

<script src="/js/directives/match.js"></script>

</body>
</html>
